.top__content, .set__content, .check__content, .buttons__content {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
}

.top__content {
  margin-top: 150px;
  margin-bottom: -30px;
  /* background-color: lime; */
}

.set__content {
  margin-top: 0px;
  font-size: 26px;
  display: block;
  text-align: center;
}

.top__title {
  font-size: 32px;
  padding-bottom: 50px;
}

.colors__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ball {
  width: 80px; 
  height: 80px; 
  border: 2px solid black; 
  border-radius: 250px;
  margin: 10px;
  margin-top: 30px;
}

.buttons__reset {
  padding: 20px 50px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
  border-radius: 5px;
}

.check__content {
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
}
